.job {
  --f-direction: column;
  --f-align: start;
}

.job_logo {
  width: 50px;
  height: 50px;
  margin-top: -55px;
}

.job_info {
  --f-direction: column;
  --f-align: start;
  --f-gap: 0.35rem;
  min-width: max-content;
  margin-inline-end: auto;
}

.job_header,
.job_footer {
  --f-direction: row;
  --f-align: center;
}
.job_header {
  --f-gap: 0.5rem;
}

.job_header h2 {
  margin-right: 1.25rem;
  font-size: var(--fs-400);
  color: var(--clr-primary);
}

.job_footer {
  --f-gap: 1.75rem;
  list-style: disc;
  font-size: var(--fs-400);
  color: var(--clr-neutral-500);
}

.job_footer li:first-child {
  list-style: none;
}

.job_position {
  font-size: var(--fs-600);
  font-weight: 700;
  color: var(--clr-neutral-200);
  text-decoration: none;
}

.job_position:is(:hover, :focus) {
  color: var(--clr-primary);
}

.job_categories {
  width: 100%;
}

.category-list {
  --f-direction: row;
  --f-align: center;
  --f-gap: 0.5rem;
  flex-wrap: wrap;

  border-top: 1px solid var(--clr-neutral-400);
  padding-top: 1rem;
}

.category-list_item button {
  cursor: pointer;
}
