.job {
  --f-justify: space-between;
}

.job_info {
  --f-direction: column;
  --f-align: start;
  --f-gap: 0;
  margin-inline-end: auto;
}

.job_header,
.job_footer {
  --f-direction: row;
  --f-align: center;
  --f-gap: 1rem;
}

.category-list {
  --f-align: center;
  --f-gap: 0.5rem;
  margin-inline-start: auto;
}
