.job {
  --f-direction: column;
  --f-align: start;
}

.job_info {
  --f-direction: column;
  --f-align: start;
  --f-gap: 0;
  min-width: max-content;
  margin-inline-end: auto;
}

.job_header,
.job_footer {
  --f-direction: row;
  --f-align: center;
  --f-gap: 1rem;
}

.category-list {
  --f-direction: row;
  --f-align: center;
  --f-gap: 0.5rem;
  flex-wrap: wrap;

  border-top: 1px solid grey;
  padding-top: 1rem;
}
