.job-list {
  list-style: none;

  padding: 0;
  margin: 90px 0 0;
}
/* change margin top when category filter is visible */
.job-categories + .job-list {
  margin-top: 55px;
}

.flow {
  --flow-gap: 40px;
}
