/*
  css reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* 
  layout
*/
:root {
  --mq-lg: 50em;
}

.flex {
  display: flex;
  flex-direction: var(--f-direction, row);
  align-items: var(--f-align, center);
  justify-content: var(--f-justify, start);
  gap: var(--f-gap, 1rem);
}

.main-container {
  width: min(100%, 1440px);
  margin-inline: auto;
  padding-block-start: 120px;
}

.container {
  width: min(93.5%, 1110px);
  margin-inline: auto;
  padding-inline: 25px;
  padding-block-start: 30px;
  padding-block-end: 25px;
  outline: 1px solid red;
}

.flow > * + * {
  margin-top: var(--flow-gap, 1rem);
}
